<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    
    <head th:include="layout :: htmlhead"></head>

    <body>
        <div class="container">
            <nav th:replace="layout :: menu (buttons = ${ {} })">(menu)</nav>
            <div class="border border-dark">
                <form th:action="@{/pedidos/}" th:object="${pedido}" method="POST">
                    <input type="hidden" th:field="*{id}">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-6">
                                <label>Funcionario:</label>
                                <!-- <select class="form-control" id="slcpaciente" th:field="*{funcionario}"> -->
                                <select class="form-control" th:field="*{funcionario}">
                                    <option th:value="${umFuncionario.id}" 
                                            th:text="${umFuncionario.nome}"
                                            th:each="umFuncionario : ${listaFuncionarios}">
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-6">
                                <label>Fornecedor:</label>
                                <!-- <select class="form-control" id="slcpaciente" th:field="*{funcionario}"> -->
                                <select class="form-control" th:field="*{fornecedor}">
                                    <option th:value="${umFornecedor.id}" 
                                            th:text="${umFornecedor.name}"
                                            th:each="umFornecedor : ${listaFornecedores}">
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-6">
                                <label>Data:</label>
                                <input type="datetime-local" th:field="*{data}" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">Item Pedido</div>
                        <div class="card-body">
                            <div class="container" th:object="${itemPedido}">
                              <div class="row">
                                <div class="col-sm">
                                    <label for="txtprocedimento">Peso</label>
                                </div>
                                <div class="col-md">
                                  <input type="text" class="form-control" id="txtvalor" th:field="${itemPedido.peso}">
                                </div>
                                <div class="col-sm">
                                  <label for="txtvalor">Preço</label>
                                </div>
                                <div class="col-sm">
                                  <input type="text" class="form-control" id="txtvalor" th:field="${itemPedido.preco}">
                                </div>
                                <div class="col-sm">
                                    <label for="txtvalor">Produto</label>
                                </div>
                                <select th:field="*{produto}">
                                    <option th:value="${umProduto.id}" 
                                            th:text="${umProduto.nome}"
                                            th:each="umProduto : ${listaProdutos}">
                                    </option>
                                </select>
                                <div class="col-sm">
                                    <button type="submit" name="insertproc" class="btn btn-primary">Inserir item</button>
                                </div>
                              </div>
                            </div>
                            <br>                           
                        </div>
                    </div>
                    <div class="card">
                        <table class="table">
                            <thead class="thead-light">
                                <tr>
                                    <th scope="col">Procedimento</th>
                                    <th scope="col">Valor</th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr scope="row" th:each="procreali, stat : ${pedido.listaItemPedido}">
                                    <input type="hidden" th:field="${pedido.listaItemPedido[__${stat.index}__].peso}"/>
                                    <input type="hidden" th:field="${pedido.listaItemPedido[__${stat.index}__].preco}"/>
                                    <td th:text="${procreali.peso}"></td>
                                    <td th:text="${procreali.preco}"></td>
                                    <!-- <td>
                                        <button type="submit" name="removeproc" th:value="__${stat.index}__" class="btn btn-primary">Remover</button>
                                    </td> -->
                                </tr>
                            </tbody>
                        </table>
                        <!-- <h1 th:field=*{pedido.listaItemPedido}></h1> -->
                    </div>
                    <button type="submit" class="btn btn-primary">Enviar</button>
                </form>
            </div>
        </div>
        <div th:include="layout :: footer">(footer)</div>
    </body>
</html> 